@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* header */

#header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#header h1{
    font-size: 4.5vw;
    font-weight: 700;
    margin: 0;
    flex: 4;
    text-align: center;
}

#header h1 a{
    font-family: Nunito;
    text-decoration: none;
    color: black;
    display:inline-block;
}

#header input{
    flex: 5;
    height: 24px;
    border: 1px solid grey;
    border-radius: 0.5em;
}

#header #nav{
    flex: 4;
    text-align: center;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content:center;
}

#header #nav a{
    margin: 0;
    padding: 0;
    font-family:Nunito;
    text-align: center;
    text-decoration: none;
    color: black;
}

#header #nav div{
    display: flex;
    gap: 3vw;
}

/* login form */

#loginForm{
    font-family: Nunito;
    margin: 100px auto;
    width: 300px;
    padding: 17px;
    border: 1px solid lightgrey;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm h2, #signup h2{
   text-align: center;
   margin: 0px 0px 8px 0px;
}

#loginForm table{
    width: 100%;
}

#loginForm table tr{
    text-align: center;
    height: 50px;
}

#loginForm table tr:last-of-type{
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#loginForm table input, #signupForm input{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 8px;
}

#loginForm table button, #signupForm button{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 25px;
    background-color: white;
    padding: 7px 10px;
}

/* sign up */

#signupForm{
    font-family: Nunito;
    margin: 100px auto;
    width: 450px;
    padding: 25px;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#signupForm br{
    margin: 5px 0;
}

#signupForm > input{
    width: 200px;
}

#profileContainer{
    position: relative;
    display: inline-block;
}

/* profile menu */

#profileMenu{
    display: none !important;
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    right: 0;
    z-index: 100;
}

#createMenu{
    display: none !important;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#profileContainer:hover #profileMenu, #createContainer:hover #createMenu{
    display: block !important;
}

/* cookbook form */

#cookbookForm{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2em;
    background-color: white;
}

#cookbookForm h2{
    padding-left: 1em;
}

#cookbookForm #fields{
    margin: 2em;
}

#cookbookForm #fields label{
    font-size:large;
    margin-right: 1em;
    margin-top: 1em;
}

#cookbookForm #fields input{
    border: 1px solid brown;
}

/* article */
article{
    display: flex;
}

/* homeleft */
#left{
    display: inline-block;
}

#latestRecipes, #latestCookbooks, #popularCategories{
    border: 1px solid gray;
    border-radius: 1em;
    background-color: white;
    width: 18vw;
    padding: 1vw;
    margin: 2vw;
}

#latestRecipes li, #latestCookbooks li{
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border: 1px solid grey;
    margin-bottom: 1vw;
    border-radius: 8px;
}

#latestRecipes li h4, #latestCookbooks li h4{
    margin: 0;
    padding: 0;
}

#latestRecipes li h4 a, #latestCookbooks li h4 a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

#latestRecipes li p, #latestCookbooks li p{
    margin: 7px 0;
}