@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

button {
    cursor: pointer;
}

/* header */

#header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#header h1{
    font-size: 4.5vw;
    font-weight: 700;
    margin: 0;
    flex: 4;
    text-align: center;
}

#header h1 a{
    font-family: Nunito;
    text-decoration: none;
    color: black;
    display:inline-block;
}

#header input{
    flex: 5;
    height: 24px;
    border: 1px solid grey;
    border-radius: 0.5em;
}

#header #nav{
    flex: 4;
    text-align: center;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content:center;
}

#header #nav a{
    margin: 0;
    padding: 0;
    font-family:Nunito;
    text-align: center;
    text-decoration: none;
    color: black;
}

#header #nav div{
    display: flex;
    gap: 3vw;
}

/* login form */

#loginForm{
    background-color: white;
    font-family: Nunito;
    margin: 100px auto;
    width: 300px;
    padding: 17px;
    border: 1px solid lightgrey;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm h2, #signup h2{
   text-align: center;
   margin: 0px 0px 8px 0px;
}

#loginForm table{
    width: 100%;
}

#loginForm table tr{
    text-align: center;
    height: 50px;
}

#loginForm table tr:last-of-type{
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#loginForm table input, #signupForm input{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 8px;
}

#loginForm table button, #signupForm button{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 25px;
    background-color: white;
    padding: 7px 10px;
}

/* sign up */

#signupForm{
    font-family: Nunito;
    margin: 100px auto;
    width: 450px;
    padding: 25px;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#signupForm br{
    margin: 5px 0;
}

#signupForm > input{
    width: 200px;
}

#profileContainer{
    position: relative;
    display: inline-block;
}

/* profile menu */

#profileMenu{
    display: none !important;
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    right: 0;
    z-index: 100;
}

#createMenu{
    display: none !important;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#profileContainer:hover #profileMenu, #createContainer:hover #createMenu{
    display: block !important;
}

/* recipe form */

#recipeForm{
    border: 1px solid gray;
    border-radius: 1em;
    background-color: white;
    min-width: 350px;
    width: 60vw;
    margin: 0 auto;
    padding: 1em;
    font-family: nunito;
}

#recipeForm h3{
    width: fit-content;
}

#recipeForm #recipeTitle{
    border: none;
    border-bottom: 1px solid gray;
    font-size: large;
    margin-bottom: 1em;
    min-width: 300px;
    width: 25vw;
    font-family: quicksand;
}

#recipeForm #descLabel{
    font-size: large;
    font-family: nunito;
}

#recipeForm #recipeDescription{
    resize:none;
    width: 40vw;
    margin-top: 0.5em;
    border: 1px solid gray;
    border-radius: 0.4em;
    min-width: 300px;
    height: 100px;
    font-family: quicksand;
}

#otherInfo{
    display:flex;
    flex-wrap: wrap;
}

#ingredients, #instructions{
    flex: 1 1 300px;
    width: max-content;
}

#recipeForm .ingredient, #recipeForm .instruction{
    margin: 20px 0;
    min-width: 300px;
    width: 25vw;
}

#recipeForm .ingredient input{
    border: none;
    border-bottom: 1px solid gray;
    margin: 1em;
}

#recipeForm .ingQuantity{
    width: 75px;
}

#recipeForm .ingName{
    width: 180px;
}

#recipeForm .ingUnit{
    width: 75px;
}

#recipeForm .step{
    resize:none;
    margin-top: 0.5em;
    border: 1px solid gray;
    border-radius: 0.4em;
    min-width: 300px;
    max-width: 100%;
    height: 60px;
    font-family: quicksand;
}

#recipeForm .scroll-container{
    width: max-content;
    border: 1px solid gray;
    max-height: 325px;
    overflow-y: auto;
    border-radius: 0.5em;
    padding: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em auto;
    width: 100%; /* Ensures it spans full container width */
    max-width: 600px;
}

.buttons .add{
    background-color: rgb(179, 243, 179);
    padding: 5px;
    border: 2px solid rgb(107, 184, 107);
    border-radius: 1em;
}

.buttons .remove{
    background-color: rgb(243, 189, 179);
    padding: 5px;
    border: 2px solid rgb(184, 116, 107);
    border-radius: 1em;
}

#recipeForm #submit{
    display: block;
    margin: 2em auto 0 auto;
    border-radius: 1em;
    padding: 5px;
    background-color: rgb(198, 229, 240);
    border: 2px solid rgb(120, 146, 204);
    max-width: 200px;
    width: 100%;
}

.ing-section, .ins-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers child elements */
    width: max-content;  /* shrink to content size (like scroll-container) */
    margin: 0 auto;
}

#recipeForm img{
    width:15px;
}

/* cookbook form */

#cookbookForm{
    border: 1px solid gray;
    border-radius: 1em;
    background-color: white;
    min-width: 350px;
    width: 60vw;
    margin: 0 auto;
    padding: 1em;
    font-family: nunito;
}

#cookbookForm #cookbookTitle{
    border: none;
    border-bottom: 1px solid gray;
    font-size: large;
    margin-bottom: 1em;
    min-width: 300px;
    width: 25vw;
    font-family: quicksand;
}

#cookbookForm #descLabel{
    font-size: large;
    font-family: nunito;
}

#cookbookForm #cookbookDesc{
    resize:none;
    width: 40vw;
    margin-top: 0.5em;
    border: 1px solid gray;
    border-radius: 0.4em;
    min-width: 300px;
    height: 100px;
    font-family: quicksand;
}

#cookbookForm #submit{
    display: block;
    margin: 2em auto 0 auto;
    border-radius: 1em;
    padding: 5px;
    background-color: rgb(198, 229, 240);
    border: 2px solid rgb(120, 146, 204);
    max-width: 200px;
    width: 100%;
}

/* article */
article{
    display: flex;
}

/* homeleft */
#left{
    display: inline-block;
}

#latestRecipes, #latestCookbooks, #popularCategories{
    border: 1px solid gray;
    border-radius: 1em;
    background-color: white;
    width: 18vw;
    padding: 1vw;
    margin: 2vw;
}

#latestRecipes li, #latestCookbooks li{
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border: 1px solid grey;
    margin-bottom: 1vw;
    border-radius: 8px;
}

#latestRecipes li h4, #latestCookbooks li h4{
    margin: 0;
    padding: 0;
}

#latestRecipes li h4 a, #latestCookbooks li h4 a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

#latestRecipes li p, #latestCookbooks li p{
    margin: 7px 0;
}

#popularCategories li{
    list-style-type: none;
}

#popularCategories li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}

#homeMain{
    width: 100%;
}